# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Next.js
.next
out
build

# Production
dist

# Misc
.DS_Store
*.pem
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Local env files
.env
.env*.local
.env.docker
.env.prod

# Vercel
.vercel

# TypeScript
*.tsbuildinfo
tsconfig.tsbuildinfo

# IDE
.idea
.vscode
*.swp
*.swo

# Git
.git
.gitignore

# Test results
test-results
playwright-report
playwright/.cache

# Trigger
.trigger

# Prisma
prisma/dev.db
prisma/*.db

# Temporary files
tmp
*.tmp
